@use '../base/' as *;

.navigationTop {
  position: sticky;
  bottom: 40px;
  transform: translateY(20px);
  z-index: var(--ZINDEX_PAGE_TOP);
  pointer-events: none;
  margin-top: -40px;
}

.navigationTop__inner {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-inline-end: var(--CONTENT_PADDING_INLINE);
}

.navigationTop__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--COLOR_WHITE);
  border-radius: 4px;
  border: 1px solid var(--COLOR_ACCENT);
  pointer-events: auto;
}

.navigationTop__mark {
  position: relative;
  width: 8px;
  height: 8px;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 2px;
    top: 2px;
    background-color: var(--COLOR_ACCENT);
    border-radius: 2px;
  }

  &::before {
    rotate: -45deg;
    right: 2px;
  }

  &::after {
    rotate: 45deg;
    left: 2.5px;
  }
}

.navigationTop__text {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}